@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iransans';
  src: url('../../public/font/IRANSansWebRegular.woff');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* html,
body {
  width: 100%;
} */
body {
  font-family: 'iransans';
  direction: rtl;
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow-x: hidden;
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}
/* .slider-container {
  width: 100% !important;
} */
.slider-container.dropdown-open {
  z-index: 10;
  position: relative;
}
.rotate-180 {
  transform: rotate(180deg);
  /* transition: transform 0.3s ease; */
}
.hel {
  /* font-size: calc(1em + 30vmin); */
  /* font-size: 30px; */
  font-weight: 900;
  color: tomato;
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color),
    calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke))
      0px var(--stroke-color);
}
.hel:hover {
  font-weight: bolder;
}

.easy-edit-button-wrapper > button:first-child {
  background-color: rgb(11, 218, 81);
  border-radius: 4px;
  color: white;
}
.easy-edit-button-wrapper > button:nth-child(2) {
  background-color: rgb(255, 87, 51);
  border-radius: 4px;
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.style-picker {
  border-radius: 6px;
  border: 1px #9ea2ad solid;
  padding: 4px 12px;
  background-color: white;
  height: 40px;
  width: 400px;
}
